<section class="featured">
  <div class="content container">
    <h1>Hi, this is Zhi</h1>
    <p>Amateur photographer. Security research on various platforms, 
      especially fruity operating systems. 
      Pwned several targets.</p>

    <nav>
      <a target="_blank" href="https://twitter.com/codecolorist">Twitter</a>
      <a target="_blank" href="https://github.com/chichou/">GitHub</a>
      <a target="_blank" href="https://www.patreon.com/codecolorist">Patreon</a>
    </nav>
  </div>
</section>

<section class="content container">
  <h2>Projects</h2>
  <ul class="projects">
    <li>
      <a href="https://github.com/chichou/grapefruit" target="_blank"><img width="240" src="/public/igf.svg"></a>
    </li>
  </ul>
</section>