<section class="featured">
  <div class="content container">
    <h1>Hi, this is Zhi</h1>
    <p>Amateur photographer. Security research on various platforms,
      especially fruity operating systems.
      Pwned several targets.</p>

    <nav>
      {% for page in site.links %}
        <a class="sidebar-nav-item" target="_blank" href="{{ page[1] }}" rel="noopener" title="{{ page[0] }}">
          <img src="/assets/{{ page[0] | downcase }}.svg" width="48" height="48" alt="{{ page[0] }}" class="link">
        </a>
      {% endfor %}
    </nav>
  </div>
</section>

<section class="content container projects">
  <h2>Projects</h2>
  <div class="list">
    <article>
      <h3>
        <a href="https://github.com/chichou/grapefruit" target="_blank"><img width="240" src="/assets/igf.svg"></a>
      </h3>
      <p>Grapefruit is an open source iOS app offensive testing tool, powered by
        <a target="_blank" href="https://frida.re/" rel="noopener" target="_blank">frida</a> and 
        <a target="_blank" href="https://vuejs.org/" rel="noopener">Vue.js</a>
      </p>
    </article>

    <article>
      <h3><a target="_blank" rel="noopener" href="https://github.com/chichou/sploits">Sploits</a></h3>
      <p>Disclosing security vulnerabilities. For educational purpurse only</p>
    </article>

    <article>
      <h3><a target="_blank" rel="noopener" href="https://github.com/ChiChou/vscode-frida">vscode-frida</a></h3>
      <p><strong>Unofficial</strong> frida extension for VSCode. Makes it easier to attach the targets</p>
    </article>

    <article>
      <h3><a target="_blank" rel="noopener" href="https://github.com/ChiChou/GlobalWebInspect">Global WebInspect</a></h3>
      <p>Enable WebInspect globally, allowing frontend debugging for third party apps on jailbroken devices</p>
    </article>    
  </div>
</section>