// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 60rem;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}

header.master {
  padding: 1rem 0;

  .content { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    h3 {
      margin: 0;
    }
    
    a {
      font-weight: 100;
      font-size: 1.5rem;
      background: -webkit-linear-gradient(290deg, #09009f, #00ff95 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Russo One', sans-serif;
    }
  }

  nav {
    display: block;
    a {
      text-decoration: none;
      font-size: .875rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.about {
  margin-top: 2rem;
}