// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 48rem;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}

header.master {
  padding: 1rem;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    h3 {
      margin: 0;
    }
    
    a {
      font-weight: 100;
      font-size: 1.5rem;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Russo One', sans-serif;
      transition: .2s ease-out opacity;
      background-image:linear-gradient(
                        to right,
                        #70c25c 0%, #70c25c 30%,
                        #ffc04a 30%, #ffc04a 42.5%,
                        #fc903d 42.5%, #fc903d 55%,
                        #e94752 55%, #e94752 67.5%,
                        #a954a5 67.5%, #a954a5 80%,
                        #00afe0 80%, #00afe0 100%);
      opacity: .8;

      &:hover {
        opacity: 1;
      }
    }
  }

  nav {
    display: block;
    a {
      text-decoration: none;
      font-size: .875rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.about {
  margin-top: 2rem;
}